<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="generator" content="Aspose.Words for .NET 17.1.0.0" />
    <title></title>
</head>

<body>
    <div>
        <table cellspacing="0" cellpadding="0" style="margin-left:15px; border-collapse:collapse;width: 1010px;">
            <tr style="height:15px">
                <td rowspan="2" style=" border-style:solid; border-width:1px;">

                    <div>
                        <img src="https://www.clinizad.com/wp-content/uploads/2021/08/Logo_clinizad.png" width="200"
                            height="50">
                    </div>

                </td>
                <td rowspan="2" style="width:700px; border-style:solid; border-width:1px; ">
                    <p style="text-align: center">
                        <span style="font-family:Tahoma;  font-size:15pt; font-weight:bold"> INFORME/REPORTE SOLICITUDES VACACIONES</span>
                    </p>
                </td>
                <td style="width:106px; border-style:solid; border-width:1px; vertical-align:top">
                    <p
                        style="margin-top:2.6pt; margin-left:1.2pt; margin-bottom:0pt; widows:0; orphans:0; font-size:7pt">
                        <span style="font-family:Verdana">Código:</span>
                    </p>
                </td>
            </tr>
            <tr style="height:15px">
                <td style="width:106px; border-style:solid; border-width:0.75pt; vertical-align:top">
                    <p
                        style="margin-top:2.6pt; margin-left:1.2pt; margin-bottom:0pt; widows:0; orphans:0; font-size:7pt">
                        <span style="font-family:Verdana">Versión: 01</span>
                    </p>
                </td>
            </tr>
        </table>



        <table cellspacing="0" cellpadding="0" style="margin-left:15px; border-collapse:collapse; width: 1010px;">
            <tr style="height: 10px;"></tr>
            <tr style="height: 10px;"></tr>
            
            <tr style=" height: 50px; border: solid; border-width: 1px;">
                <td colspan="10">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:20pt; font-weight:bold ">Administrativa</span>
                    </p>
                </td>
                
            </tr>
            <tr style="height: 20px;"></tr>
            <tr style=" height: 40px; border: solid; border-width: 1px;">
                <td colspan="10">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:15pt; font-weight:bold ">Aprobadas</span>
                    </p>
                </td>
                
            </tr>
            <tr style="height: 30px;">

                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Año</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Mes</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Cargo</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Estado</span>
                    </p>
                </td>
                <td style="width:122px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Cantidad</span>
                    </p>
                </td>

            </tr>
            <tr style="height: 30px;">

                <!-- Nombre del equipo  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt;  "></span>
                    </p>
                </td>
                <!--  Marca  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>
                <!--  Modelo  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt;  "></span>
                    </p>
                </td>
                <!--  Serie  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>
                <!--  Embalaje  -->
                <td style="width:122px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>

            </tr>
            <tr style="height: 20px;"></tr>

            <tr style="height: 40px; border: solid; border-width: 1px;">
                <td colspan="10" >
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:15pt; font-weight:bold ">Rechazadas</span>
                    </p>
                </td>
                
            </tr>
            <tr style="height: 30px;">

                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Año</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Mes</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Cargo</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Estado</span>
                    </p>
                </td>
                <td style="width:122px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Cantidad</span>
                    </p>
                </td>

            </tr>
            <tr style="height: 30px;">

                <!-- Nombre del equipo  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt;  "></span>
                    </p>
                </td>
                <!--  Marca  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>
                <!--  Modelo  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt;  "></span>
                    </p>
                </td>
                <!--  Serie  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>
                <!--  Embalaje  -->
                <td style="width:122px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>

            </tr>
            <tr style="height: 20px;"></tr>

            <tr style=" height: 40px; border: solid; border-width: 1px;">
                <td colspan="10">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:15pt; font-weight:bold ">Suspendidas</span>
                    </p>
                </td>
                
            </tr>
            <tr style="height: 30px;">

                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Año</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Mes</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Cargo</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Estado</span>
                    </p>
                </td>
                <td style="width:122px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Cantidad</span>
                    </p>
                </td>

            </tr>
            <tr style="height: 30px;">

                <!-- Nombre del equipo  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt;  "></span>
                    </p>
                </td>
                <!--  Marca  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>
                <!--  Modelo  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt;  "></span>
                    </p>
                </td>
                <!--  Serie  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>
                <!--  Embalaje  -->
                <td style="width:122px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>

            </tr>

            <tr style="height: 50px;"></tr>

            <tr style=" height: 50px; border: solid; border-width: 1px;">
                <td colspan="10">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:20pt; font-weight:bold ">Operativa</span>
                    </p>
                </td>
                
            </tr>
            <tr style="height: 20px;"></tr>
            <tr style=" height: 40px; border: solid; border-width: 1px;">
                <td colspan="10">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:15pt; font-weight:bold ">Aprobadas</span>
                    </p>
                </td>
                
            </tr>
            <tr style="height: 30px;">

                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Año</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Mes</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Cargo</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Estado</span>
                    </p>
                </td>
                <td style="width:122px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Cantidad</span>
                    </p>
                </td>

            </tr>
            <tr style="height: 30px;">

                <!-- Nombre del equipo  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt;  "></span>
                    </p>
                </td>
                <!--  Marca  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>
                <!--  Modelo  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt;  "></span>
                    </p>
                </td>
                <!--  Serie  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>
                <!--  Embalaje  -->
                <td style="width:122px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>

            </tr>
            <tr style="height: 20px;"></tr>

            <tr style="height: 40px; border: solid; border-width: 1px;">
                <td colspan="10" >
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:15pt; font-weight:bold ">Rechazadas</span>
                    </p>
                </td>
                
            </tr>
            <tr style="height: 30px;">

                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Año</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Mes</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Cargo</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Estado</span>
                    </p>
                </td>
                <td style="width:122px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Cantidad</span>
                    </p>
                </td>

            </tr>
            <tr style="height: 30px;">

                <!-- Nombre del equipo  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt;  "></span>
                    </p>
                </td>
                <!--  Marca  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>
                <!--  Modelo  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt;  "></span>
                    </p>
                </td>
                <!--  Serie  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>
                <!--  Embalaje  -->
                <td style="width:122px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>

            </tr>
            <tr style="height: 20px;"></tr>

            <tr style=" height: 40px; border: solid; border-width: 1px;">
                <td colspan="10">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:15pt; font-weight:bold ">Suspendidas</span>
                    </p>
                </td>
                
            </tr>
            <tr style="height: 30px;">

                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Año</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Mes</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Cargo</span>
                    </p>
                </td>
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Estado</span>
                    </p>
                </td>
                <td style="width:122px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; font-weight:bold ">Cantidad</span>
                    </p>
                </td>

            </tr>
            <tr style="height: 30px;">

                <!-- Nombre del equipo  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt;  "></span>
                    </p>
                </td>
                <!--  Marca  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>
                <!--  Modelo  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt;  "></span>
                    </p>
                </td>
                <!--  Serie  -->
                <td style="width:220px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>
                <!--  Embalaje  -->
                <td style="width:122px; border-style:solid; border-width:1px;  ">
                    <p style="text-align: center; ">
                        <span style="font-family:Tahoma;  font-size:12pt; "></span>
                    </p>
                </td>

            </tr>


            




        </table>

    </div>
</body>

</html>